.notification {
  cursor: pointer;
  margin-bottom: 5px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f8f8f8;
}

.notification:hover {
  background-color: #fef2e1;
}